<ul>
  <li>
    <input id="user_username" type="text" name="username" placeholder="Username" />
  </li>
  <li>
    <input id="user_password" type="password" name="password" placeholder="Password" />
  </li>
</ul>